/* layui quasar 兼容 */

.layui-side-menu .layui-nav .layui-nav-item > a {
    padding-top: 0;
    padding-bottom: 0;
}
.layui-layer {
    border-radius: 4px !important;
}
.layui-layer-title {
    background-color: inherit !important;
    border-bottom: none !important;
    border-radius: 4px 4px 0 0 !important;
}

/* layui 补充 */

[lay-iframe-hide] {
    display: none;
}
